<!DOCTYPE.html>
<html>
<head>

  <title> Portfolio </title>
  <style> 
    h1 {
      font-size: 40px;
      font-family: Roboto;
      color: rgb(120, 180, 240);
      text-align: center;
    }
  </style>
</head>
<body>
<h1> Portfolio </h1>
  <img src="https://portfoliowebsite.zainabidin24.repl.co/static/Portfolio.jpg" height=320px>
 <h2> Inception</h2>
  <p> I am a data science enthusiast. I have been playing with data for almost a year. I am a goal-oriented and creative individual with flexible working abilities.</p>
  <h2> Expertise  </h2>
  <button> Contact me</button>
  
</body>
  
</html>