<!DOCTYPE.html>
<html>
<head>

  <title> Portfolio </title>
  <style> 
    h1 {
      font-size: 40px;
      font-family: Roboto;
      color: rgb(120, 180, 240);
      text-align: center;}
    
    #banner{
        max-width: 100%;
        height: auto;
      object-fit: cover;
    
      }
    h2{
      font-family:Roboto;
      font-size: 32px;
      color: rgb(80, 100, 140);
      text-align: fit;
    }
    p{
      font-family : Roboto;
      color: rgb(120,100,90);
    }
    #container{
      max-width: 720px;
      margin: 0 auto 0 auto;
    }
  </style>
</head>
<body>
  <div id="container">
   <h1> Portfolio </h1>
  <img id="banner" 
src="https://portfoliowebsite.zainabidin24.repl.co/static/Portfolio.jpg" >
 <h2> Inception</h2>
  <p> I am a data science enthusiast. I have been playing with data for almost a year. I am a goal-oriented and creative individual with flexible working abilities.</p>
  <h2> Expertise  </h2>
  <div style="text-align:center;" >
  <button> Contact me</button>
    </div>
  </div>
</body>
  
</html>