 <div class="border-bottom row" style=" margin-bottom:16px;padding-bottom:8px;">
<div class="col-9"> 
<h4 style="color:rgb(120,120,120);margin- 
    bottom:4px;">
 {{ex['title']}} </h4>
<div>
<b>language:</b> {{ex['language']}}  
</div>
   {%if 'Packages' in ex %}
<div>
 <b>Packages:</b> {{ex['Packages']}}  
 </div>
 {% endif %}
</div>
   <div class="col-3"> 
  <a href="mailto:zabidin20109@gmail.com?subject= Information about {{ex['title']}}" button type="button" class="btn btn-outline-primary"> More_info</a>
</div> 
 </div>